[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-dotenv = "==0.7.1"
"ef42864" = {file = "https://github.com/pallets/flask/archive/master.tar.gz"}
wheel = "*"


[dev-packages]

